body {
  background-image: url("images/Header bg@2x.png");
  height: 718px;
  width: 375px;
}

.flex-nav {
  display: flex;
  justify-content: space-around;
  flex: 1 1 50%;
}

.flex-main {
  display: flex;
  flex-direction: column;
  flex: 2 1 50%;
  flex-wrap: wrap;
  max-width: 920px;
  margin: auto;
  justify-content: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-even p {
  margin-left: 5px;
}

.flex-even {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin-left: 35px;
}
